/*-------------------------Chammika------------------------*/
.high {
	font-weight: bolder;
}
.new-term {
	color: darkred;
	color: rgb(166, 5, 5, 1);
}
.my-def {
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	font-weight: bolder;
	font-style: 2em;
	color: darkgreen;
}
.my-wrap {
	float: right;
	position: relative;
	top: -0px;
	width: 50%;
	padding-left: 10px;
	border: 2px solid white;
}
.my-wrap-left {
	float: left;
	position: relative;
	top: -0px;
	width: 50%;
	padding-right: 10px;
	border: 2px solid white;
}
.my-two-left {
	float: left;
	position: relative;
	top: -0px;
	width: 50%;
	padding-right: 10px;
	border: 2px solid white;
}
.my-two-right {
	float: right;
	position: relative;
	top: -0px;
	width: 50%;
	padding-left: 10px;
	border: 2px solid white;
}
.my-side-img-a2m {
	width: 150px;
	text-align: center;
}
.my-side-img-sps {
	width: 100px;
	text-align: center;
}
.my-side-img {
	width: 150px;
	max-width: 300px;
	text-align: center;
}
.my-quote {
	font-style: italic;
}
.my-quote-person {
	font-style: italic;
}
.qm-rules {
	margin: 1%;
	margin-top: 20pt;
	margin-bottom: 30pt;
	padding: .5em;
	padding-left: 1em;
	background: #fafafa;
	font-size: 1.15em;
	color: #050505;
	border-radius: 5px;
}
.panic {
	font-size: 4em;
	text-transform: uppercase;
	color: darkred;
}
/* -----------div tips------------- */
/*From https://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/*/
div.definition {
	padding: 1em;
	margin: 1em 0;
	padding-left: 200px;
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: 50px center;
	background-color: rgb(0, 0, 0, .025);
	min-height: 75px;
	font-size: 1.125em;
	font-weight: bolder;
	background-image: url('../my-figures/icons8-idea-480.png');
	border: 1px solid rgb(0, 0, 0, .05);
	box-sizing: border-box;
	max-width: 55%;
}
div.definition p {
	width: 100%;
}
.my-table .table{
	border-top-style: red;
}
.my-sublist ol{
	width:100%;
}
.my-sublist ol li{
	list-style-type: lower-alpha;
}
.my table{
	border-bottom:2px solid black;
	border-top:none;
	font-size: 1.25em;
}
.my table tr:first-of-type{
	border-bottom:2px solid black;
}
.my table tr{
	height:2.25em;
}

.my-plain-table table{
    border:none;
}

.my-sub-header{
 color:rgb(0,0,0,.25); 
}
